<div class="login">
<h2>Sign in</h2>

<% form_for :session, :url => session_path do |form| %>
  <div class="text_field">
    <p><%= form.label :email %>
    <%= form.text_field :email %></p>
    <br />
  </div>
  <div class="text_field">
    <p><%= form.label :password %>
    <%= form.password_field :password %></p>
    <br />
  </div>
  <div class="text_field">
    <p><%= form.check_box :remember_me %>
    <%= form.label :remember_me %></p>
    <br />
  </div>
  <div class="text_field">
    <p><%= form.submit "Sign in", :disable_with => "Please wait..." %></p>
    <br />
  </div>
<% end %>
</div>

