<%form_tag(search_path) do%>

  <p><%=label_tag :user %>
  <%=text_field_tag :user %></p>
  <br />
  <p><%=label_tag :customer %>
  <%=text_field_tag :customer, nil, :id => "customer" %></p>
  <br />
  <p> <%=label_tag "from_date" %>
  <%=text_field_tag "from_date" %></p>
  <br />
  <p><%=label_tag "to_date" %>
  <%=text_field_tag "to_date" %></p>
  <br />
  <%=submit_tag "Report" %><br />

<%end%>
<br />
<% if @timelines && !@timelines.empty?%>
  Total time: <%=format_spend @total_time_spend %>
  <%= render(:partial => "/timelines/table", :object => @timelines) %>
  <p />


<%end%>