<% if !@stoptime.empty? %>
  <% @stoptime.each do |t|%>
    <h2>Started</h2>
    <table id="tbl">
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Subject</th>
        <th>Client</th>
        <th>Stop</th>
      </tr>

      <tr>
        <td><%=t.user.email %></td>
        <td><%=t.time_spend_at.strftime("%d/%m/%Y") if t.time_spend_at%></td>
        <td><%=t.what %></td>
        <td><%=t.customer.name if t.customer %></td>
        <td><%=link_to_if(t.user_id == current_user.id, "stop", stop_timeline_path(t))%></td>
      </tr>
    <%end%>
  <% end %>
</table>

<p />
<%- unless @timelines.empty? -%>
<h2>Completed</h2>
<table id="tbl">
  <tr>
    <th>User</th>
    <th>Date</th>
    <th>Subject</th>
    <th>Client</th>
    <th>Time</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% @timelines.each do |t|%>
    <tr>
      <td><%=t.user.email %></td>
      <td><%=t.time_spend_at.strftime("%d/%m/%Y") if t.time_spend_at%></td>
      <td><%=t.what %></td>
      <td><%=t.customer.name if t.customer %></td>
      <td><%=format_spend t.time_spend%></td>
      <td><%=link_to_if(t.user_id == current_user.id, "edit", edit_timeline_path(t))%></td>
      <td><%=link_to "delete", t, :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%- end -%>